{% extends '/include_files/base.html' %}

{% block title %}
{{title}}
{% endblock %}


{% block content %}

<h1>Add A Department</h1>

<form method="POST">

    {% if edit %}
    <label for="name">Department Id</label><br>
    <input type="text" placeholder="Name" readonly value="{{department.id}}" required name="id" id=""><br>
    {% endif %}

    <label for="name">Department Name</label><br>
    <input type="text" placeholder="Name" {% if edit %} value="{{department.name}}" {% endif %}required name="name" id=""><br>

    {% if edit%}
    <input type="submit" name="" value="Edit" id="">
    {% else%}
    <input type="submit" name="" value="Add" id="">
    
    {% endif %}
</form>
{% endblock %}