{% extends '/include_files/base.html' %}

{% block title %}
{{title}}
{% endblock %}


{% block content %}

<h1>Add An Employee</h1>

<form method="POST">

    <label for="name">Name</label><br>
    <input type="text" placeholder="Name" required name="name" id="">
    <br>
    <label for="title">Title</label><br>
    <select name="title" id="">
        {% for title in titles%}
            <option value="{{title}}">{{title}}</option>
        {% endfor %}
    </select>
    <br>
    
    <label for="def_dep">Default Department</label><br>
    <select name="def_dep" id="" required>
        <option value=""></option>
        {% for department in departments%}
        <option value="{{department}}">{{department}}</option>
        {% endfor%}
    </select> <br>
    <label for="">Work Schedule</label><br>
    <select name="" id="" >
        <option value=""></option>
        {% for program in programs%}
        <option value="{{program}}">{{program}}</option>
        {% endfor%}
    </select> <br>

    <input type="submit" name="" value="Add" id="">

</form>
{% endblock %}