{% extends '/include_files/base.html' %}

{% block title %}
{{title}}
{% endblock %}




{% block content %}

<style>
    th {
        width: 150px;
    }

    td {
        text-align: center;
    }

    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .table {
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 5px solid black;
        margin: 7px;
    }

    .insides {
        display: flex;
        flex-direction: column;
    }
</style>


<h1>Edit Objects</h1>

<div class="boxes">

    <div class="department table table-container">
        <h3>Departments</h3>
        <div class="insides">
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                {% for dep in departments%}
                <tr>
                    <td><input type="text" class="department_name {{dep[0]}}" name="" id="" value="{{dep[1]}}"></td>
                    <td><button onclick='redirect("/edit/department/{{dep[0]}}")'>Edit</button></td>
                    <td><button onclick='redirect("/delete/department/{{dep[0]}}")'>Delete</button></td>

                </tr>
                {% endfor %}
            </table>
            <tr class="last_row">
                <button onclick="redirect('/add_department')">Add</button>
            </tr>
        </div>
    </div>
    <div class="kitchen table table-container">
        <h3>Kitchens</h3>
        <div class="insides">
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                {% for kitchen in kitchens%}
                <tr>
                    <td><input type="text" name="" id="" class="kitchen_name {{kitchen[0]}}" value="{{kitchen[1]}}"></td>
                    <td><button onclick='redirect("/edit/kitchen/{{kitchen[1]}}")'>Edit</button></td>
                    <td><button onclick='redirect("/delete/kitchen/{{kitchen[1]}}")'>Delete</button></td>

                </tr>
                {% endfor %}
            </table>
            <tr class="last_row">
                <button onclick="redirect('/add_kitchen')">Add</button>
            </tr>
    </div>
    </div>
    <div class="programs table table-container">
        <h3>Programs</h3>
        <div class="insides">
        <table border="1">
            <tr>
                <th>Program</th>
                <th>Delete</th>
            </tr>

            {% for program in programs%}
            <tr>
                <td>{{program}}</td>
                <td><button onclick='redirect("/delete/program/{{program}}")'>Delete</button></td>

            </tr>
            {% endfor %}
        </table>
        <tr class="last_row">
            <button onclick="redirect('/add_program')">Add</button>
        </tr>
    </div>
    </div>
    <div class="title table table-container">
        <h3>Title</h3>
        <div class="insides">
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Delete</th>
            </tr>

            {% for title in titles%}
            <tr>
                <td>{{title}}</td>
                <td><button onclick='redirect("/delete/title/{{title}}")'>Delete</button></td>

            </tr>
            {% endfor %}
        </table>
        <tr class="last_row">
            <button onclick="redirect('/add_title')">Add</button>
        </tr>
    </div>
    </div>
    <div class="employees table table-container">
        <h3>Employees</h3>

        <div class="insides">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            {% for employee in employees%}
            <tr>
                <td>{{employee}}</td>
                <td><button onclick='redirect("/edit/employee/{{employee}}")'>Edit</button></td>
                <td><button onclick='redirect("/delete/employee/{{employee}}")'>Delete</button></td>

            </tr>
            {% endfor %}
        </table>
        <tr class="last_row">
            <button onclick="redirect('/add_employee')">Add</button>
        </tr>
    </div>
    </div>

</div>

<script>
    function redirect(url) {

        window.location.href = url
    }

    Array.from(document.getElementsByClassName('department_name')).forEach(function(item){
        console.log('fweah: ',item)
        item.addEventListener('change', function(){
            console.log(item.classList)
            data = {
                "id": item.classList[1],
                "new_name" : item.value
            }
            fetch('/save_department', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    alert('Successfully Saved Department')
                })
                .catch((error) => {
                    alert('Issue Saving Department: ' + error)
                });

        })
    })

    Array.from(document.getElementsByClassName('kitchen_name')).forEach(function(item){
        item.addEventListener('change', function(){
            console.log(item.classList)
            data = {
                "id": item.classList[1],
                "new_name" : item.value
            }
            fetch('/save_kitchen', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    alert('Successfully Saved Kitchen')
                })
                .catch((error) => {
                    alert('Issue Saving Kitchen: ' + error)
                });

        })
    })


</script>

{% endblock %}