<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="./static/css/styles.css">
    
     <style>
       
    </style>
   
</head>
<body>

    <header>
        <h1>Welcome to My Flask App</h1>
    </header>

    <main>
        <p>This is a simple webpage for your Flask app. You can customize it as needed.</p>

        <!-- Your Flask content goes here -->
        <div id="flask-content">
             Display dynamic content from your Flask app 
        </div>
    </main>

    <footer>
        <p>&copy; 2023 Πρωτη Flask σελίδα μου στο Cpanel. All rights reserved.</p>
    </footer>

</body>
</html>
