{% extends '/include_files/base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}


<main>

    <h1>Login</h1>

    <form method="POST" style="display: flex; flex-direction: column; align-content: stretch; justify-content: space-around; align-items: baseline;">

        <input type="email" name="email" placeholder="email" id="">
        <input type="password" name="pass" placeholder="Password" id="">
        <input type="submit" value="Login" name="" id="">

    </form>
</main>


{% endblock %}
