{% extends '/include_files/base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<!-- <style>

    .header_row th{
        width: 170px;
    }

    td{
        margin: 0 50px;
        width: 170px;
        padding: 0 3.5px;
        transform: translateX(-40px);
        border-bottom: 2px solid black;
        border-top: 2px solid black;
    }

    .kitchen-mention{
        border: 2px solid red;
        width: 170px;
    }

</style> -->

<select name="" id="week">
    {% for week in weeks%}

        {% if week == selected_week %}

        <option value="{{week}}" selected>{{week}}</option>
        
        {% else%}
        <option value="{{week}}" >{{week}}</option>
        {% endif %}
    {% endfor %}
</select>

<table border="1" id="table">
    <!-- Header Row -->
    <tr class="header_row">
        <th>Name</th>
        <th>Title</th>
        <th id="monday">Monday <button onclick="split_day(this)">Split</button></th>
        <th id="tuesday">Tuesday <button onclick="split_day(this)">Split</button></th>
        <th id="wednesday">Wednesday <button onclick="split_day(this)">Split</button></th>
        <th id="thursday">Thursday <button onclick="split_day(this)">Split</button></th>
        <th id="friday">Friday <button onclick="split_day(this)">Split</button></th>
        <th id="saturday">Saturday <button onclick="split_day(this)">Split</button></th>
        <th id="sunday">Sunday <button onclick="split_day(this)">Split</button></th>
        <th>Total Offs</th>

    </tr>



    {% for kitchen in group.sub_kitchens%}

        <tr >  
            <th ><p class="kitchen-mention">{{kitchen.name}}</p></th> <br>
        </tr>

        {% for department in kitchen.sub_departments %}

            <tr>
                <td name="dep_name">
                    <strong>
                        {{department.name}}
                    </strong>
                </td>
            </tr>

            {% for emp in department.employees%}


            {% for program in emp[1]%}

            <tr class="employeeTrs">

                <td style="display: none;">
                    <input type="text" name="department" id="" value="{{department.name}}">
                </td>

                <td style="display: none;">
                    <input type="text" name="kitchen" id="" value="{{kitchen.name}}">
                </td>

                {% if loop.index == 1%}
                <td>

                    <div style="display: flex;">

                        <button onclick="splitEmployee(this)" style="margin-right: 1px;">Split</button> <br>

                        <select name="name"> 
                            {% for empl in all_employees%}

                                {% if empl.name == emp[0].name %}
                                <option value="{{empl.name}}" selected>{{empl.name}}</option>
                                {% else %}
                                <option value="{{empl.name}}" >{{empl.name}}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                        {% else %}
                        <td>
                            <input type="text" name="name" value="{{emp[0].name}}" id="emp_name" readonly>
                        </td>

                    </div>
                </td>
                {% endif %}
                <td>
                    <input type="text" name="title" value="{{emp[0].title}}" readonly name="" id="">
                </td>

                <td>

                    <select name="monday">

                        {% for pr in all_programs%}
                        {% if pr == program['monday']%}
                            <option value="{{pr}}" selected>{{pr}}</option>
                        {% else %}
                            <option value="{{pr}}">{{pr}}</option>
                        {% endif %}
                        {% endfor %}

                    </select>
                </td>
                <td>

                    <select name="tuesday">

                        {% for pr in all_programs%}
                        {% if pr == program['tuesday']%}
                            <option value="{{pr}}" selected>{{pr}}</option>
                        {% else %}
                            <option value="{{pr}}">{{pr}}</option>
                        {% endif %}
                        {% endfor %}


                    </select>
                </td>
                <td>

                    <select name="wednesday">

                        {% for pr in all_programs%}
                        {% if pr == program['wednesday']%}
                            <option value="{{pr}}" selected>{{pr}}</option>
                        {% else %}
                            <option value="{{pr}}">{{pr}}</option>
                        {% endif %}
                        {% endfor %}


                    </select>
                </td>
                <td>

                    <select name="thursday">

                        {% for pr in all_programs%}
                        {% if pr == program['thursday']%}
                            <option value="{{pr}}" selected>{{pr}}</option>
                        {% else %}
                            <option value="{{pr}}">{{pr}}</option>
                        {% endif %}
                        {% endfor %}


                    </select>
                </td>
                <td>

                    <select name="friday">

                        {% for pr in all_programs%}
                        {% if pr == program['friday']%}
                            <option value="{{pr}}" selected>{{pr}}</option>
                        {% else %}
                            <option value="{{pr}}">{{pr}}</option>
                        {% endif %}
                        {% endfor %}


                    </select>
                </td>
                <td>

                    <select name="saturday">


                        {% for pr in all_programs%}
                        {% if pr == program['saturday']%}
                            <option value="{{pr}}" selected>{{pr}}</option>
                        {% else %}
                            <option value="{{pr}}">{{pr}}</option>
                        {% endif %}
                        {% endfor %}

                    </select>
                </td>
                <td>

                    <select name="sunday">


                        {% for pr in all_programs%}
                        {% if pr == program['sunday']%}
                            <option value="{{pr}}" selected>{{pr}}</option>
                        {% else %}
                            <option value="{{pr}}">{{pr}}</option>
                        {% endif %}
                        {% endfor %}


                    </select>
                </td>

                {% if loop.index != 1%}
                <td>
                    <button onclick="removeEmployee(this)">Remove</button>
                </td>
                {% endif %}

                
            </tr>

            
            
            
            {% endfor %}
            {% endfor %}
            <!-- <tr><td><button onclick="addEmployee(this)">Add Employee</button></td></tr> -->

        {% endfor %}

    {% endfor %}
 
</table>

<button onclick="postTable()">Save</button>

<div style="display: none;">
<table>
<tr id="sample_employee_tr">

    <td>
        <select>
            <option value="" selected></option>
            {% for empl in all_employees%}
                <option value="{{empl.name}}" >{{empl.name}}</option>

            {% endfor %}
        </select>
    </td>
    <td>
        <input type="text" value="" name="" id="">
    </td>

    <td>

        <select>

            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>

            {% endfor %}

        </select>
    </td>
    <td>

        <select>

            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>

            {% endfor %}

        </select>
    </td>
    <td>

        <select>

            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>

            {% endfor %}

        </select>
    </td>
    <td>

        <select>

            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>
            {% endfor %}

        </select>
    </td>
    <td>

        <select>

            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>
            {% endfor %}

        </select>
    </td>
    <td>

        <select>

            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>
            {% endfor %}

        </select>
    </td>
    <td>

        <select>

            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>
            {% endfor %}


        </select>
    </td>

    <td>
        <button onclick="removeEmployee(this)">Remove</button>
    </td>
    
</tr>
<tr id="sample_employee_split_tr" class="employeeTrs">

    
    <td style="display: none;">
        <input type="text" name="department" id="" value="">
    </td>

    <td style="display: none;">
        <input type="text" name="kitchen" id="" value="">
    </td>

    <td>
        <input type="text" name="name" value="Employee Name" id="emp_name" readonly>
    </td>
    <td>
        <input type="text" value="" name="title" id="emp_title">
    </td>

    <td>

        <select name="monday">

            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>
                

            {% endfor %}

            <option value=""></option>
        </select>
    </td>
    <td>

        <select name="tuesday">


            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>
                

            {% endfor %}

            <option value=""></option>

        </select>
    </td>
    <td>

        <select name="wednesday">

            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>
                

            {% endfor %}

            <option value=""></option>

        </select>
    </td>
    <td>

        <select name="thursday">


            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>
                

            {% endfor %}

            <option value=""></option>

        </select>
    </td>
    <td>

        <select name="friday">

            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>
                

            {% endfor %}

            <option value=""></option>

        </select>
    </td>
    <td>

        <select name="saturday">


            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>
                

            {% endfor %}

            <option value=""></option>

        </select>
    </td>
    <td>

        <select name="sunday">


            {% for program in all_programs%}

                <option value="{{program}}">{{program}}</option>
                

            {% endfor %}

            <option value=""></option>

        </select>
    </td>

    <td>
        <button onclick="removeEmployee(this)">Remove</button>
    </td>
    
</tr>
<tr id="sample_button_tr"><td><button onclick="addEmployee(this)">Add Employee</button></td></tr>
<td id="sample_remove_button">
    <button onclick="removeEmployee(this)">Remove</button>
</td>
</table>



</div>

<script>

    function getName(item, name){
        //console.log(item, name)
        var elements = item.querySelectorAll('[name="' + name + '"]')[0].value
        return elements
    }

    function postTable(){

        data = {
            'week' : document.getElementById('week').value,
        }


        trs = document.getElementsByClassName('employeeTrs')
        var department = document.querySelectorAll('[name="dep_name"]')

        Array.from(trs).forEach(function(item){
            if (item.id == 'sample_employee_split_tr'){
                return;
            }
        
            var name = getName(item, 'name');
            var title = getName(item, 'title');
            var monday = getName(item, 'monday');
            var tuesday = getName(item, 'tuesday');
            var wednesday = getName(item, 'wednesday');
            var thursday = getName(item, 'thursday');
            var friday = getName(item, 'friday');
            var saturday = getName(item, 'saturday');
            var sunday = getName(item, 'sunday');
            var department = getName(item, 'department');
            var kitchen = getName(item, 'kitchen');
        
            if (!(kitchen in data)){
                data[kitchen] = {};
            }
        
            if (!(department in data[kitchen])){
                data[kitchen][department] = [];
            }
        
            let found = false;
            for(let i = 0; i < data[kitchen][department].length; i++){
                if (data[kitchen][department][i][0] == name){
                    data[kitchen][department][i][1].push({
                        "monday" : monday,
                        "tuesday" : tuesday,
                        "wednesday" : wednesday,
                        "thursday" : thursday,
                        "friday" : friday,
                        "saturday" : saturday,
                        "sunday" : sunday,
                    });
                    found = true;
                    break;
                }
            }
        
            if (!found){
                data[kitchen][department].push([
                    name,
                    [{
                        "monday" : monday,
                        "tuesday" : tuesday,
                        "wednesday" : wednesday,
                        "thursday" : thursday,
                        "friday" : friday,
                        "saturday" : saturday,
                        "sunday" : sunday,
                    }]
                ]);
            }
        
            console.log('fwaeh: ', JSON.stringify(data[kitchen][department]));
        });
        
        fetch('/save_schedule', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            alert('Successfully Saved Program')
        })
        .catch((error) => {
            alert('Issue Saving Program: ' + error)
        });
        




    }
    




    var all_departments = {{ all_departments | tojson }};
    function split_day(button){
        // Create a new <th> element for the header row
        var new_th = document.createElement('th');
        new_th.innerText = 'Change';
        new_th.innerHTML += '<button onclick="remove_collumn(this)">X</button>'


        new_th.id= button.parentNode.id + "_extra";
        // Find the closest <th> element containing the button
        var currentTh = button.closest('th');

        // If the <th> element is found, insert the new <th> before the next sibling
        if (currentTh) {
            currentTh.insertAdjacentElement('afterend', new_th);

            // Get all rows with the class 'employeeTrs'
            var employeeRows = document.querySelectorAll('.employeeTrs');

            // Iterate over each employee row and add a new cell with a dropdown
            employeeRows.forEach(function(row) {
                var new_td = document.createElement('td');

                new_td.classList.add(new_th.id= button.parentNode.id + "_extra_td");
                
                // Create the dropdown (select) element
                var select = document.createElement('select');

                // Add a blank option to the dropdown
                var blankOption = document.createElement('option');
                blankOption.value = '';
                blankOption.text = '';
                select.appendChild(blankOption);
                select.setAttribute('name', 'change_'+button.parentNode.id)

                // Add options to the dropdown from the all_departments list
                all_departments.forEach(function(dept) {
                    var option = document.createElement('option');
                    option.value = dept;
                    option.text = dept;
                    select.appendChild(option);
                });

                // Append the dropdown to the new td
                new_td.appendChild(select);

                // Insert the new td in the row
                var correspondingThIndex = Array.from(currentTh.parentElement.children).indexOf(currentTh);
                var nextSibling = row.children[correspondingThIndex + 3];
                row.insertBefore(new_td, nextSibling);
            });
        } else {
            console.error("Current <th> not found");
        }

        button.remove();
    }

    function remove_collumn(button){

        //console.log(button.parentNode.id)

        //console.log(document.getElementsByClassName(button.parentNode.id))
        Array.from(document.getElementsByClassName(button.parentNode.id)).forEach(function(item){
            //console.log(item)
            item.remove();
        })

        document.getElementById(button.parentNode.id.split("_")[0]).innerHTML += '<button onclick="split_day(this)")>Split</button>'


        button.parentNode.remove();
    }

    function splitEmployee(button) {
        var new_tr = document.getElementById('sample_employee_split_tr');
        if (!new_tr) {
            console.error("Template row with id 'sample_employee_split_tr' not found");
            return;
        }
        new_tr = new_tr.cloneNode(true);
        new_tr.removeAttribute('id');

        new_tr.childNodes[5].childNodes[1].value = button.parentElement.childNodes[5].value;
        new_tr.childNodes[5].childNodes[1].readonly = true
        console.log(new_tr.childNodes)
        
        new_tr.childNodes[7].childNodes[1].value = button.parentElement.parentElement.parentElement.childNodes[7].childNodes[1].value;
        new_tr.childNodes[7].childNodes[1].setAttribute('readonly', true)

        new_tr.childNodes[1].childNodes[1].value = button.parentElement.parentElement.parentElement.childNodes[1].childNodes[1].value;
        new_tr.childNodes[3].childNodes[1].value = button.parentElement.parentElement.parentElement.childNodes[3].childNodes[1].value;

        //console.log(new_tr.childNodes[3].childNodes[1], button.parentElement.parentElement.parentElement.childNodes[3].childNodes[1].value)
        var currentRow = button.closest('tr');
    
        if (currentRow) {
            currentRow.insertAdjacentElement('afterend', new_tr);
        } else {
            console.error("Current row not found");
        }
    }

    function removeEmployee(button){

        tr = button.parentElement.parentElement

        tr.remove();
    }

    function addEmployee(button){

        var new_tr = document.getElementById('sample_employee_tr')
        
        //console.log(new_tr)
        new_tr = new_tr.cloneNode(true);
        new_tr.removeAttribute('id')

        var new_bt = document.getElementById('sample_button_tr')

        //console.log(new_bt)
        new_bt = new_bt.cloneNode(true);
        new_bt.removeAttribute('id')

       
        button.parentElement.parentElement.parentElement.appendChild(new_tr)
        button.parentElement.parentElement.parentElement.appendChild(new_bt)
        
        //console.log(button.parentElement.parentElement)
        button.remove()

    }

</script>


{% endblock %}
