{% extends '/include_files/base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<style>
    .invisible{
        display:none  !important;
    }
</style>

<div id="week_div" style="display: flex; flex-direction: row; justify-content: space-evenly;">
    <div style="display: flex;
        flex-direction: column;
        align-items: center;">
        <label for="">This Month</label>

        <select name="next_weeks" id="week" class="week_list">
            {% for week in weeks%}

            {% if week == selected_week %}

            <option value="{{week}}" selected>{{week}}</option>

            {% else%}
            <option value="{{week}}">{{week}}</option>
            {% endif %}
            {% endfor %}

        </select>
    </div>

    <div style="display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 15px">
        <button  onclick="goToTodaysWeek()">Go To Todays Week</button>
        <select name="next_weeks" id="todays_week_select" class="week_list" style="display: none;">

            <option value="{{todays_week}}" selected>{{todays_week}}</option>

        </select>
    </div>

    <div style="display: flex;
    flex-direction: column;
    align-items: center;">
        <label for="next_weeks">All Weeks Made</label>
        <select name="next_weeks" id="" class="week_list">
            {% for week in all_weeks_saved%}

            {% if week[0] == selected_week %}

            <option value="{{week[0]}}" selected>{{week[0]}}</option>

            {% else%}
            <option value="{{week[0]}}">{{week[0]}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

</div>

<h1>{{selected_week}}</h1>
<h1>{{new_week_message}}</h1>

<table border="1" id="table">
    <!-- Header Row -->
    <tr class="header_row" id="header_row">
        <th>Name</th>
        <th>Title</th>

        {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']%}

        {% if day|lower in split_days%}
            <th id="{{day|lower}}">{{day}} </th>
            <th id="{{day|lower}}_extra_td">Change <button onclick="remove_collumn(this)">X</button></th>
        {% else %}
            <th id="{{day|lower}}">{{day}} <button onclick="split_day(this)">Split</button></th>
        {% endif %}

        {% endfor %}

        <!-- <th id="monday">Monday <button onclick="split_day(this)">Split</button></th>
        <th id="tuesday">Tuesday <button onclick="split_day(this)">Split</button></th>
        <th id="wednesday">Wednesday <button onclick="split_day(this)">Split</button></th>
        <th id="thursday">Thursday <button onclick="split_day(this)">Split</button></th>
        <th id="friday">Friday <button onclick="split_day(this)">Split</button></th>
        <th id="saturday">Saturday <button onclick="split_day(this)">Split</button></th>
        <th id="sunday">Sunday <button onclick="split_day(this)">Split</button></th> -->
        <th>Total Offs</th>

    </tr>


    <tr class="employeeTrs" id="date_inputs">
        <td style="display: none;"></td>
        <td style="display: none;"></td>

        <td>Dates</td>
        <td></td>
        
        {% for date in dates%}
        <td style="text-align: center;">{{date}}</td>
        {% if ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'][loop.index-1]|lower in split_days%}
        <td class="{{['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'][loop.index-1]|lower}}_extra_td"></td>
        {% endif %}
        {% endfor%}

        <td></td>
    </tr>

    {% for kitchen in group.sub_kitchens%}

    <tr>
        <th>
            <p class="kitchen-mention">{{kitchen.name}}</p>
        </th> <br>
    </tr>

    {% for department in kitchen.sub_departments %}

    <tr>
        <td name="dep_name">
            <strong>
                {{department.name}}
            </strong>
        </td>
    </tr>

    {% for emp in department.employees%}


    {% for program in emp[1]%}

    <tr class="employeeTrs">

        <td style="display: none;">
            <input type="text" name="department" id="" value="{{department.name}}">
        </td>

        <td style="display: none;">
            <input type="text" name="kitchen" id="" value="{{kitchen.name}}">
        </td>

        {% if loop.index == 1%}
        <td>

            <div style="display: flex;">

                <button onclick="splitEmployee(this)" style="margin-right: 1px;">Split</button> <br>

                <input type="text" name="name" value="{{emp[0].name}}" id="" readonly>
            </div>
        </td> 
        {% else %}
        <td>
            <input type="text" name="name" value="{{emp[0].name}}" id="emp_name" readonly readonly>
        </td>

        {% endif %}
        <td>
            <input type="text" name="title" value="{{emp[0].title}}" readonly name="" id="">
        </td>

        {% for day in ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'] %}

            <td name="{{day}}_schedule">

                <select name="{{day}}">

                    {% for pr in all_programs%}
                    {% if pr == program[day][0]%}
                    <option value="{{pr}}" selected>{{pr}}</option>
                    {% else %}
                    <option value="{{pr}}">{{pr}}</option>
                    {% endif %}
                    {% endfor %}

                </select>
            </td>


            {%if day|lower in split_days%}
            <td class="{{day}}_extra_td">
                <select name="change_{{day}}">
                    <option value=""></option>
                    {% for department in all_departments%}
                        {% if department == program[day][1] %}   
                            <option value="{{department}}" selected>{{department}}</option>
                            {% else %}
                            <option value="{{department}}" >{{department}}</option>
                            
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
            {% endif %}
        {% endfor %}

        {% if loop.index != 1%}
        <td>
            <button onclick="removeEmployee(this)">Remove</button>
        </td>
        {% endif %}


    </tr>




    {% endfor %}
    {% endfor %}

    {% endfor %}

    {% endfor %}

</table>

<div id="action_buttons">
<button onclick="postTable()">Save</button>
<button onclick="postTableExcel()">Save Excel</button>
<button class="invisible" id="delete_week" onclick="delete_week()">Delete Week</button>
</div>


<div style="display: none;">
    <table>
        <tr id="sample_employee_tr">

            <td>
                <select>
                    <option value="" selected></option>
                    {% for empl in all_employees%}
                    <option value="{{empl.name}}">{{empl.name}}</option>

                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="text" value="" name="" id="">
            </td>

            <td class="monday_schedule">

                <select>

                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>

                    {% endfor %}

                </select>
            </td>
            <td class="tuesday_schedule">

                <select>

                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>

                    {% endfor %}

                </select>
            </td>
            <td class="wednesday_schedule">

                <select>

                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>

                    {% endfor %}

                </select>
            </td>
            <td class="thursday_schedule">

                <select>

                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>
                    {% endfor %}

                </select>
            </td>
            <td class="friday_schedule">

                <select>

                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>
                    {% endfor %}

                </select>
            </td>
            <td class="saturday_schedule">

                <select>

                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>
                    {% endfor %}

                </select>
            </td>
            <td class="sunday_schedule">

                <select>

                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>
                    {% endfor %}


                </select>
            </td>

            <td>
                <button onclick="removeEmployee(this)">Remove</button>
            </td>

        </tr>
        <tr id="sample_employee_split_tr" class="employeeTrs">


            <td style="display: none;">
                <input type="text" name="department" id="" value="">
            </td>

            <td style="display: none;">
                <input type="text" name="kitchen" id="" value="">
            </td>

            <td>
                <input type="text" name="name" value="Employee Name" id="emp_name" readonly>
            </td>
            <td>
                <input type="text" value="" name="title" id="emp_title">
            </td>

            <td class="monday_schedule">

                <select name="monday">

                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>


                    {% endfor %}

                    <option value=""></option>
                </select>
            </td>

            {% if 'monday' in split_days%}
            <td class="monday_extra_td">
                <select name="change_monday" id="">
                    <option value=""></option>
                    {% for department in all_departments%}
                    <option value="{{department}}">{{department}}</option>
                    {% endfor %}
                </select>
            </td>
            {% endif %}

            <td class="tuesday_schedule">

                <select name="tuesday">


                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>


                    {% endfor %}

                    <option value=""></option>

                </select>
            </td>

            {% if 'tuesday' in split_days%}
            <td class="tuesday_extra_td">
                <select name="change_tuesday" id="">
                    <option value=""></option>
                    {% for department in all_departments%}
                    <option value="{{department}}">{{department}}</option>
                    {% endfor %}
                </select>
            </td>
            {% endif %}
            <td class="wednesday_schedule">

                <select name="wednesday">

                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>


                    {% endfor %}

                    <option value=""></option>

                </select>
            </td>

            {% if 'wednesday' in split_days%}
            <td class="wednesday_extra_td">
                <select name="change_wednesday" id="">
                    <option value=""></option>
                    {% for department in all_departments%}
                    <option value="{{department}}">{{department}}</option>
                    {% endfor %}
                </select>
            </td>
            {% endif %}
            <td class="thursday_schedule">

                <select name="thursday">


                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>


                    {% endfor %}

                    <option value=""></option>

                </select>
            </td>

            {% if 'thursday' in split_days%}
            <td class="thursday_extra_td">
                <select name="change_thursday" id="">
                    <option value=""></option>
                    {% for department in all_departments%}
                    <option value="{{department}}">{{department}}</option>
                    {% endfor %}
                </select>
            </td>
            {% endif %}
            <td class="friday_schedule">

                <select name="friday">

                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>


                    {% endfor %}

                    <option value=""></option>

                </select>
            </td>

            {% if 'friday' in split_days%}
            <td class="friday_extra_td">
                <select name="change_friday" id="">
                    <option value=""></option>
                    {% for department in all_departments%}
                    <option value="{{department}}">{{department}}</option>
                    {% endfor %}
                </select>
            </td>
            {% endif %}
            <td class="saturday_schedule">

                <select name="saturday">


                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>


                    {% endfor %}

                    <option value=""></option>

                </select>
            </td>

            {% if 'saturday' in split_days%}
            <td class="saturday_extra_td">
                <select name="change_saturday" id="">
                    <option value=""></option>
                    {% for department in all_departments%}
                    <option value="{{department}}">{{department}}</option>
                    {% endfor %}
                </select>
            </td>
            {% endif %}
            <td class="sunday_schedule">

                <select name="sunday">


                    {% for program in all_programs%}

                    <option value="{{program}}">{{program}}</option>


                    {% endfor %}

                    <option value=""></option>

                </select>
            </td>

            {% if 'sunday' in split_days%}
            <td class="sunday_extra_td">
                <select name="change_sunday" id="">
                    <option value=""></option>
                    {% for department in all_departments%}
                    <option value="{{department}}">{{department}}</option>
                    {% endfor %}
                </select>
            </td>
            {% endif %}

            <td>
                <button onclick="removeEmployee(this)">Remove</button>
            </td>

        </tr>
        <tr id="sample_button_tr">
            <td><button onclick="addEmployee(this)">Add Employee</button></td>
        </tr>
        <td id="sample_remove_button">
            <button onclick="removeEmployee(this)">Remove</button>
        </td>

        <input type="text" name="" id="week_id" value="{{group.id}}">
        <input type="text" name="" id="week_saved" value="{{group.saved|string}}">
    </table>



</div>

<script>

    function delete_week(){
        console.log(document.getElementById('week_id'))
        redirect('/delete/table/'+document.getElementById('week_id').value)
    }

    function addDeleteButton(){
        console.log(document.getElementById('week_saved').value)

        if (document.getElementById('week_saved').value == 'True'){


            document.getElementById('delete_week').classList.remove('invisible')
        }
    }
    addDeleteButton()

    function redirect(url) {

        window.location.href = url
    }

    function getName(item, name) {
        //console.log(item, name)
        try {
            var elements = item.querySelectorAll('[name="' + name + '"]')[0].value;
        
        } catch (error) {
            return ''
        }
        return elements;
    }
    

    function postTable() {

        data = {
            'week': document.getElementById('week').value,
        }


        trs = document.getElementsByClassName('employeeTrs')
        var department = document.querySelectorAll('[name="dep_name"]')

        Array.from(trs).forEach(function (item) {
            if (item.id == 'sample_employee_split_tr' || item.id == 'date_inputs') {
                console.log('skip: ', item.id)
                return;
            }

            var name = getName(item, 'name');
            var title = getName(item, 'title');
            var monday = getName(item, 'monday');
            var tuesday = getName(item, 'tuesday');
            var wednesday = getName(item, 'wednesday');
            var thursday = getName(item, 'thursday');
            var friday = getName(item, 'friday');
            var saturday = getName(item, 'saturday');
            var sunday = getName(item, 'sunday');
            var department = getName(item, 'department');
            var kitchen = getName(item, 'kitchen');

            var monday_change = getName(item, 'change_monday')
            var tuesday_change = getName(item, 'change_tuesday')
            var wednesday_change = getName(item, 'change_wednesday')
            var thursday_change = getName(item, 'change_thursday')
            var friday_change = getName(item, 'change_friday')
            var saturday_change = getName(item, 'change_saturday')
            var sunday_change = getName(item, 'change_sunday')

            if (!(kitchen in data)) {
                data[kitchen] = {};
            }

            if (!(department in data[kitchen])) {
                data[kitchen][department] = [];
            }

            let found = false;
            for (let i = 0; i < data[kitchen][department].length; i++) {
                if (data[kitchen][department][i][0] == name) {
                    data[kitchen][department][i][1].push({
                        "monday": [monday, monday_change],
                        "tuesday": [tuesday, tuesday_change],
                        "wednesday": [wednesday, wednesday_change],
                        "thursday": [thursday, thursday_change],
                        "friday": [friday, friday_change],
                        "saturday": [saturday, saturday_change],
                        "sunday": [sunday, sunday_change],
                    });
                    found = true;
                    break;
                }
            }

            if (!found) {
                data[kitchen][department].push([
                    name,
                    [{
                        "monday": [monday, monday_change],
                        "tuesday": [tuesday, tuesday_change],
                        "wednesday": [wednesday, wednesday_change],
                        "thursday": [thursday, thursday_change],
                        "friday": [friday, friday_change],
                        "saturday": [saturday, saturday_change],
                        "sunday": [sunday, sunday_change],
                    }]
                ]);
            }
        });

        fetch('/save_schedule', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                alert('Successfully Saved Program')
            })
            .catch((error) => {
                alert('Issue Saving Program: ' + error)
            });





    }
    function postTableExcel() {

        data = {
            'week': document.getElementById('week').value,
        }


        trs = document.getElementsByClassName('employeeTrs')
        var department = document.querySelectorAll('[name="dep_name"]')

        Array.from(trs).forEach(function (item) {
            if (item.id == 'sample_employee_split_tr' || item.id == 'date_inputs') {
                console.log('skip: ', item.id)
                return;
            }

            var name = getName(item, 'name');
            var title = getName(item, 'title');
            var monday = getName(item, 'monday');
            var tuesday = getName(item, 'tuesday');
            var wednesday = getName(item, 'wednesday');
            var thursday = getName(item, 'thursday');
            var friday = getName(item, 'friday');
            var saturday = getName(item, 'saturday');
            var sunday = getName(item, 'sunday');
            var department = getName(item, 'department');
            var kitchen = getName(item, 'kitchen');

            var monday_change = getName(item, 'change_monday')
            var tuesday_change = getName(item, 'change_tuesday')
            var wednesday_change = getName(item, 'change_wednesday')
            var thursday_change = getName(item, 'change_thursday')
            var friday_change = getName(item, 'change_friday')
            var saturday_change = getName(item, 'change_saturday')
            var sunday_change = getName(item, 'change_sunday')

            if (!(kitchen in data)) {
                data[kitchen] = {};
            }

            if (!(department in data[kitchen])) {
                data[kitchen][department] = [];
            }

            let found = false;
            for (let i = 0; i < data[kitchen][department].length; i++) {
                if (data[kitchen][department][i][0] == name) {
                    data[kitchen][department][i][1].push({
                        "monday": [monday, monday_change],
                        "tuesday": [tuesday, tuesday_change],
                        "wednesday": [wednesday, wednesday_change],
                        "thursday": [thursday, thursday_change],
                        "friday": [friday, friday_change],
                        "saturday": [saturday, saturday_change],
                        "sunday": [sunday, sunday_change],
                    });
                    found = true;
                    break;
                }
            }

            if (!found) {
                data[kitchen][department].push([
                    name,
                    [{
                        "monday": [monday, monday_change],
                        "tuesday": [tuesday, tuesday_change],
                        "wednesday": [wednesday, wednesday_change],
                        "thursday": [thursday, thursday_change],
                        "friday": [friday, friday_change],
                        "saturday": [saturday, saturday_change],
                        "sunday": [sunday, sunday_change],
                    }]
                ]);
            }
        });

        fetch('/save_table_excel', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.blob())  // Convert the response to a Blob
        .then(blob => {
            // Create a link element
            const link = document.createElement('a');
            
            // Create a URL for the blob
            const url = window.URL.createObjectURL(blob);
            link.href = url;
        
            // Set the download attribute to suggest a filename
            link.download = data['week'].replace('(', '').replace(')', '') + '.xlsx';
            
            // Append the link to the body (necessary for Firefox)
            document.body.appendChild(link);
            
            // Programmatically click the link to trigger the download
            link.click();
            
            // Clean up the URL object and remove the link element
            setTimeout(() => {
                window.URL.revokeObjectURL(url);
                document.body.removeChild(link);
            }, 0);
        })





    }

    function goToTodaysWeek(){
        var value = document.getElementById('todays_week_select').value
        var year_start = value[0].split("(")[1].trim();
        var month_start = value[1].trim();
        var day_start = value[2].trim();
        var year_end = value[3].trim();
        var month_end = value[4].trim();
        var day_end = value[5].split(")")[0].trim();



        // Construct the URL
        var newUrl = `${window.location.origin}`+'/table/'+day_start+'_'+month_start+'_'+year_start+'_'+day_end+'_'+month_end+'_'+year_end
        console.log(newUrl, value)
        // Redirect to the new URL
        //window.location.href = newUrl;
        
    }

    function switchWeeks() {
        // Get all child elements of 'week_div'
        var weekDivChildren = Array.from(document.getElementById('week_div').children);
    
        // Loop through each child element
        weekDivChildren.forEach(function(div) {
            // Get the select field within the div
            var select_field = div.getElementsByTagName('select')[0];
    
            // Add event listener for 'change' event
            select_field.addEventListener('change', function() {
                // Assuming the value format is "year_start-month_start-day_start-year_end-month_end-day_end"
                var value = select_field.value.split('-');
    
                var year_start = value[0].split("(")[1].trim();
                var month_start = value[1].trim();
                var day_start = value[2].trim();
                var year_end = value[3].trim();
                var month_end = value[4].trim();
                var day_end = value[5].split(")")[0].trim();
    
                // Construct the URL
                var newUrl = `${window.location.origin}`+'/table/'+day_start+'_'+month_start+'_'+year_start+'_'+day_end+'_'+month_end+'_'+year_end
                console.log(newUrl)
                // Redirect to the new URL
                window.location.href = newUrl;
            });
        });
    }

    switchWeeks();


    var all_departments = {{ all_departments | tojson }};
    function split_day(button) {
        // Create a new <th> element for the header row
        var new_th = document.createElement('th');
        new_th.innerText = 'Change';
        new_th.innerHTML += '<button onclick="remove_collumn(this)">X</button>'


        new_th.id = button.parentNode.id + "_extra_td";
        // Find the closest <th> element containing the button
        var currentTh = button.closest('th');

        // If the <th> element is found, insert the new <th> before the next sibling
        if (currentTh) {
            currentTh.insertAdjacentElement('afterend', new_th);

            // Get all rows with the class 'employeeTrs'
            var employeeRows = document.querySelectorAll('.employeeTrs');

            // Iterate over each employee row and add a new cell with a dropdown
            employeeRows.forEach(function (row) {
                var new_td = document.createElement('td');

                new_td.classList.add(new_thid =  button.parentNode.id + "_extra_td");

                // Create the dropdown (select) element
                var select = document.createElement('select');

                // Add a blank option to the dropdown
                var blankOption = document.createElement('option');
                blankOption.value = '';
                blankOption.text = '';
                select.appendChild(blankOption);
                select.setAttribute('name', 'change_' + button.parentNode.id)

                // Add options to the dropdown from the all_departments list
                all_departments.forEach(function (dept) {
                    var option = document.createElement('option');
                    option.value = dept;
                    option.text = dept;
                    select.appendChild(option);
                });

                // Append the dropdown to the new td
                new_td.appendChild(select);


                
                // Insert the new td in the row
                var correspondingThIndex = Array.from(currentTh.parentElement.children).indexOf(currentTh);
                var nextSibling = row.children[correspondingThIndex + 3];
                var aftopouprepeinakaneis = correspondingThIndex + 3
                row.insertBefore(new_td, nextSibling);
            }
            )

        document.getElementById('date_inputs').querySelectorAll('[name="'+ "change_" + button.parentNode.id + '"]')[0].remove()

        } else {
            console.error("Current <th> not found");
        }

        button.remove();
    }

    function remove_collumn(button) {

        //console.log(button.parentNode.id)

        //console.log(document.getElementsByClassName(button.parentNode.id))
        Array.from(document.getElementsByClassName(button.parentNode.id)).forEach(function (item) {
            console.log(item);
            //console.log(item)
            item.remove();
        })

        document.getElementById(button.parentNode.id.split("_")[0]).innerHTML += '<button onclick="split_day(this)")>Split</button>'


        button.parentNode.remove();
    }

    function splitEmployee(button) {
        var new_tr = document.getElementById('sample_employee_split_tr');
        if (!new_tr) {
            console.error("Template row with id 'sample_employee_split_tr' not found");
            return;
        }
        new_tr = new_tr.cloneNode(true);
        new_tr.removeAttribute('id');

        new_tr.childNodes[7].childNodes[1].value = button.parentElement.parentElement.parentElement.childNodes[7].childNodes[1].value;
        new_tr.childNodes[7].childNodes[1].readonly = true


        new_tr.childNodes[5].childNodes[1].value = button.parentElement.parentElement.parentElement.childNodes[5].childNodes[1].childNodes[5].value;
        new_tr.childNodes[5].childNodes[1].setAttribute('readonly', true)
        console.log(button.parentElement.parentElement.parentElement.childNodes[5].childNodes[1].childNodes[5].value)


        new_tr.childNodes[1].childNodes[1].value = button.parentElement.parentElement.parentElement.childNodes[1].childNodes[1].value;
        new_tr.childNodes[3].childNodes[1].value = button.parentElement.parentElement.parentElement.childNodes[3].childNodes[1].value;


        for (let i = 0; i < document.getElementById('header_row').getElementsByTagName('th').length; i++) {

            var td = document.getElementById('header_row').getElementsByTagName('th')[i];
        
            if (td.id.includes('_extra_td')) {
        
                var new_department_dropdown = document.createElement('td');
                new_department_dropdown.classList.add(td.id);
        
                var new_dropdown = document.createElement('select');
                new_dropdown.id = 'change_' + td.id.split('_')[0];
        
                all_departments.forEach(function(dep_name) {
                    var new_option = document.createElement('option');
        
                    new_option.value = dep_name;
                    new_option.innerText = dep_name;
                    new_dropdown.appendChild(new_option);
                });
        
                new_department_dropdown.appendChild(new_dropdown);
        

                var parentNode = new_tr;
                var referenceNode = parentNode.getElementsByClassName(td.id.split('_')[0]+'_schedule')[0];
                console.log(referenceNode,td.id.split('_')[0]+'_schedule' )
                
                //parentNode.insertBefore(new_department_dropdown, referenceNode);
            }
        }
        
        //console.log(new_tr.childNodes[3].childNodes[1], button.parentElement.parentElement.parentElement.childNodes[3].childNodes[1].value)
        var currentRow = button.closest('tr');

        if (currentRow) {
            currentRow.insertAdjacentElement('afterend', new_tr);
        } else {
            console.error("Current row not found");
        }
    }

    function removeEmployee(button) {

        tr = button.parentElement.parentElement

        tr.remove();
    }

    function addEmployee(button) {

        var new_tr = document.getElementById('sample_employee_tr')

        //console.log(new_tr)
        new_tr = new_tr.cloneNode(true);
        new_tr.removeAttribute('id')

        var new_bt = document.getElementById('sample_button_tr')

        //console.log(new_bt)
        new_bt = new_bt.cloneNode(true);
        new_bt.removeAttribute('id')


        button.parentElement.parentElement.parentElement.appendChild(new_tr)
        button.parentElement.parentElement.parentElement.appendChild(new_bt)

        //console.log(button.parentElement.parentElement)
        button.remove()

    }

</script>


{% endblock %}